

.jumbotron{
  margin-top:300px;
  background: red;
  color: white;
}

ul{
  color: red;
  font-size: 30px;
}
img{
  height:20%;
  width:10%;
}
h1{
  background:tomato;
  color:white;
  text-align:center;
  font-size: 40px;
}
h2{
  background:yellow;
  font-size:35px;


}
